.CheckOut{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-color:grey;
    width: 100%;
    height: 750px;
}
.background-boi{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    

}
h1{
    padding: 10px;
    margin: 10px;
}
.Orderlist{
    max-width:100%;
    padding: 10px;
    border-radius: 25px;    
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center; 
  
}
.Rows{
    padding: 2px;
    margin: 2px;
    
}
