.container{
    background-color: lightgray;
    width: 100%;
}
input.login-input-field{
    width: 100%;
    
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
input.login-input-field:hover{
    width: 100%;
    
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc;
}
.login-box{
    font-family: cursive;
    display: flex;
    margin: 0 1%;
}
.login-title{
    font-family: cursive;
    font-size: larger;
    font-weight: bold;
}
.background-boi{
    background-color: lightgray
}
.sign-up {
    background-color: skyblue;
}
.sign-up:hover{
    background-color: rgba(8, 125, 221, 0.24);
}
.sign-in{
    background-color: lightcoral;
}
.sign-in:hover{
    background-color: rgba(211, 36, 23, 0.568);
}