.App{
  
}

.nav{
  box-sizing: border-box;
  background-color: #161616;
  position: relative;
}

header{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
.navItems{
  list-style: none;
  color: #9C9523;
  
}
.navItems li{

  display: inline-block;
  padding-right:30px;
}
.App-logo{
  margin-right:auto
}

.navItems li a{
  transition: all 0.3s ease 0s;
}
.navItems li a:hover{
  color:rgb(250, 250, 250);
}
.wtf{
  text-align: right;
}



.login{
  padding-right:10%;
}

li, a{
  font-family: Playfair Display;
  color: #9C9523;
  font-weight: 500;
  font-size: 16px;
  
}

button{
  padding:9px 25px;
  border:none;
  border-radius: 50px;
  background-color: red;
}
div.resturant-logo{
    width:25%; /*width of your image*/
   height:25%; /*height of your image*/
   background-image:url('./images/logoforschool.png');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}
.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}